/** @format */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
}

.App {
  text-align: center;
  font-family: "Rubik", sans-serif;
}

.w-90 {
  width: 90%;
  /* max-width: 500px; */
}

@media (width > 800px) {
  .w-90 {
    max-width: 1300px;
  }
}

.top-part {
  background-image: url("./images/pattern-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 150px;
}
form {
  max-width: 500px;
}

form button {
  transition: 0.2s ease-in-out;
}

form button:hover {
  opacity: 0.7;
}

@media (width > 375px) {
  .top-part {
    background-image: url("./images/pattern-bg-desktop.png");
    background-size: cover;
  }
}

input:focus {
  outline: none;
}

.details {
  right: 0;
  left: 0;
  top: 180px;
  z-index: 3;
}

@media (width > 992px) {
  .details {
    top: 200px;
  }
  /* .details div:not(:first-child) {
    border-left: 2px solid hsl(0, 0%, 59%);
  } */

  .details div:not(:first-child) {
    position: relative;
  }
  .details div:not(:first-child)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 1px;
    height: 70%;
    margin: auto;
    background-color: hsl(0, 0%, 59%);
  }
}

.details p,
form input {
  font-weight: 500;
}

/* ========================= */

.leaflet-container {
  height: 70vh;
  z-index: 2;
}
