/** @format */

:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
}

.App {
  text-align: center;
}

.w-90 {
  width: 90%;
  max-width: 500px;
}

.top-part {
  background-image: url("./images/pattern-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 150px;
}

@media (width > 375px) {
  .top-part {
    background-image: url("./images/pattern-bg-desktop.png");
    background-size: cover;
  }
}

input:focus {
  outline: none;
}

.details {
  right: 0;
  left: 0;
  top: 160px;
  z-index: 3;
}

/* ========================= */

.leaflet-container {
  height: 70vh;
  z-index: 2;
}
